<div class="container">
  <h1>Pages#home</h1>

  <p>Find me in app/views/pages/home.html.erb</p>

  <h3>This is the new Chatt app</h3>

  <h4>Chat with your friends around the world</h4>
<%= link_to "Start now", new_user_session_path, class:"btn btn-primary" %>
  </div>
